PORT=3001
CHANNEL_NAME=land-registry-channel
CHAINCODE_NAME=land-registry
MSP_ID=RegistryDeptMSP
PEER_ENDPOINT=localhost:7051
PEER_HOST_ALIAS=peer0.registry.landregistry.gov
CRYPTO_PATH=<path-to-fabric-network>/organizations/peerOrganizations/registry.landregistry.gov
